<template>
  <div class="container">
    <div class="row mt-5 justify-content-center" :disabled="loading">
      <div class="card shadow card-custom-bg">
        <div class="card-body">
          <h1 class="card-title text-center text-white">PvP Brackets</h1>
          <h6 class="text-center text-white">
            A simple tool to check your current PvP season
          </h6>
          <form class="mt-3" @submit="onSubmit" @reset="onReset" v-if="show">
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <b-form-select
                    id="region"
                    v-model="form.region"
                    :options="regions"
                    @change="onRegionSelect()"
                    required
                  ></b-form-select>

                  <select
                    id="realm"
                    class="form-control"
                    v-model="form.realmSlug"
                    required
                  >
                    <option value="" disabled selected>Realm</option>
                    <option
                      v-for="realm in realms.realms"
                      :value="realm.slug"
                      :key="realm.name"
                    >
                      {{ realm.name }}</option
                    >
                  </select>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col">
                <div class="input-group">
                  <b-form-select
                    id="pvpBracket"
                    v-model="form.pvpBracket"
                    :options="pvpBrackets"
                    required
                  ></b-form-select>

                  <b-form-input
                    id="character"
                    v-model="form.characterName"
                    required
                    placeholder="Character"
                  ></b-form-input>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col text-right">
                <b-button class="mr-1" type="reset" variant="outline-danger"
                  >Reset</b-button
                >
                <b-button type="submit" variant="outline-light"
                  >Search</b-button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5" v-if="loading">
      <b-spinner style="width: 3rem; height: 3rem;" variant="light"></b-spinner>
    </div>

    <div class="row justify-content-center">
      <div
        class="card shadow card-custom-bg mt-4"
        text-variant="light"
        v-if="pvpBracketStatistics !== null && !loading"
      >
        <table
          class="table table-dark table-responsive table-borderless text-center custom-table-bg"
        >
          <thead>
            <tr class="h4 text-center align-middle">
              <th colspan="5" scope="col">
                {{ pvpBracketStatistics.characterName }} -
                {{ pvpBracketStatistics.realmName }}
              </th>
            </tr>
            <tr class="h5">
              <th scope="col">Rating</th>
              <th scope="col">Season W - L</th>
              <th scope="col">Season W %</th>
              <th scope="col">Weekly W - L</th>
              <th scope="col">Weekly W %</th>
            </tr>
          </thead>
          <tbody>
            <tr class="h5">
              <td v-bind:style="{ color: ratingColors() }">
                {{ pvpBracketStatistics.rating }}
              </td>
              <td class="d-flex justify-content-center">
                <div class="text-success" style="margin-right: 4px;">
                  {{ pvpBracketStatistics.seasonMatchWon }}
                </div>
                -
                <div class="text-danger" style="margin-left: 5px;">
                  {{ pvpBracketStatistics.seasonMatchLost }}
                </div>
              </td>
              <td>{{ pvpBracketStatistics.seasonMatchWinrate }} %</td>
              <td class="d-flex justify-content-center">
                <div class="text-success" style="margin-right: 5px;">
                  {{ pvpBracketStatistics.weeklyMatchWon }}
                </div>
                -
                <div class="text-danger" style="margin-left: 5px;">
                  {{ pvpBracketStatistics.weeklyMatchLost }}
                </div>
              </td>
              <td>{{ pvpBracketStatistics.weeklyMatchWinrate }} %</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PvpBracketStatistics",
  data() {
    return {
      form: {
        region: null,
        realmSlug: "",
        pvpBracket: null,
        characterName: ""
      },
      regions: [{ text: "Region", value: null }, "EU", "US"],
      pvpBrackets: [{ text: "PvP bracket", value: null }, "2v2", "3v3"],
      pvpBracketStatistics: null,
      realms: [{ text: "Realm", value: null }],
      show: true,
      loading: false
    };
  },
  methods: {
    onRegionSelect() {
      if (this.form.region != null) {
        const baseURI = "http://51.91.158.132:3000/";
        this.$http
          .get(baseURI + "realms/" + this.form.region.toLowerCase())
          .then(response => (this.realms = response.data));
      }
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.pvpBracketStatistics = null;
      this.loading = true;
      const baseURI = "http://51.91.158.132:3000/";
      this.$http
        .get(
          baseURI +
            this.form.region.toLowerCase() +
            "/" +
            this.form.realmSlug +
            "/" +
            this.form.pvpBracket +
            "/" +
            this.form.characterName.toLowerCase()
        )
        .then(
          response => (
            (this.loading = false), (this.pvpBracketStatistics = response.data)
          )
        )
        .catch(error => {
          (this.loading = false), this.toast("b-toaster-bottom-right", error);
        });
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.loading = false;
      this.form.region = null;
      this.form.realmSlug = "";
      this.form.pvpBracket = null;
      this.form.characterName = "";
      this.pvpBracketStatistics = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    ratingColors() {
      let ratingColor = "";
      if (this.pvpBracketStatistics.rating < 900) {
        ratingColor = "#1EFF00 !important";
      }
      if (this.pvpBracketStatistics.rating < 1400) {
        ratingColor = "#666666 !important";
      }
      if (this.pvpBracketStatistics.rating > 1400) {
        ratingColor = "#3548BD !important";
      }
      if (this.pvpBracketStatistics.rating > 2000) {
        ratingColor = "#A335E2 !important";
      }
      if (this.pvpBracketStatistics.rating > 2500) {
        ratingColor = "#FF7C0E !important";
      }
      if (this.pvpBracketStatistics.rating > 2900) {
        ratingColor = "#E6CC76 !important";
      }
      return ratingColor;
    },
    toast(toaster, append = false) {
      this.$bvToast.toast(
        "No data found for " +
          this.form.characterName +
          " on " +
          this.form.realmSlug +
          " " +
          this.form.region +
          " !",
        {
          title: "Please verify your information.",
          toaster: toaster,
          solid: true,
          variant: "danger",
          appendToast: append
        }
      );
    }
  }
};
</script>

<style scoped>
.card-custom-bg,
.custom-table-bg {
  background-color: #37393f !important;
}
</style>
