<template>
  <div>
    <NavbarMenu />
    <div id="app">
      <router-view />
    </div>
  </div>
</template>

<script>
import NavbarMenu from "./components/NavbarMenu.vue";

export default {
  name: "App",
  components: {
    NavbarMenu
  }
};
</script>

<style>
body {
  background-color: #303136 !important;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
